*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  /* body{
    background-color: rgb(255, 245, 227);
  }
  .backGroundImage{
    width: 100%;
    height: 80%;
    position: fixed;
    z-index: -10;
  } */
  
  
  
  .Payment{
    /* width: 100%; */
    padding: 0 40px;
    padding-top: 20px;
    border-top: 2px solid orange;
  }
  .heading{
    color: orange;
    font-size: 30px;
  }
  .Payment .inputBoxArea{
    /* width: 100%; */
    background-color: rgb(255, 218, 149);
    height: 100%;
    padding: 20px;
    margin-top: 30px;
  }
  .Payment .UserInputBox, .Payment .otherInput{
    display: flex;
    flex-wrap: wrap;
  }
  .Payment .inputBox{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 250px;
    height: 50px;
    /* background-color: aqua; */
  }
  .Payment input{
    margin-right: 20px;
    margin-bottom: 10px;
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    border: none;
    box-sizing: content-box;
    box-shadow: 2px 2px 5px #848484, 0px 0px 0px #cacaca, 0px 0px 0px #cacaca;
  }
  .btnn{
    width: 100px;
    height: 30px;
    background: rgb(226, 147, 0);
    color: white;
    font-size: 16px;
    border: 1ps solid black;
    cursor: pointer;
    border-radius: 1px;
  }
  .Payment .ProdInputBox{
    background-color: transparent;
    margin-right: 0;
    margin-bottom: 0;
    box-shadow: none;
  }
  .PaymentMain{
    margin-top: 30px;
  }
  .PaymentMain .remove{
    background: none;
    border: none;
    font-size: 30px;
    color: orange;
  }
  .PaymentMain tr:nth-child(odd) .remove{
    background: none;
    border: none;
    font-size: 30px;
    color: white;
  }
  .PaymentMain th{
    padding: 5px 0;
  }
  .PaymentMain td, .PaymentMain th{
    width: 150px;
    border: 1px solid #dddddd;
    text-align: center;
  }
  
  .PaymentMain tr:nth-child(odd){
    background-color: rgb(255, 210, 126);
  }
  .PaymentMain tr:nth-child(even){
    background-color: rgb(255, 255, 255);
  }
  .PaymentMain .selectBox{
    background-color: none;
    width: 160px;
    height: 30px;
  }
  .PaymentMain .Block1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 10px;
  }
  .PaymentMain .selectBox{
    margin-bottom: 30px;
  }
  .PaymentMain .TableBlock{
    margin-bottom: 30px;
  }
  .PaymentMain .BasketTP{
    font-size: 20px;
    color: rgb(197, 128, 0);
  }

  /* Stock Main */
  .StoreStock{
      padding: 0 40px;
      padding-top: 20px;
      border-top: 2px solid orange;
  }

  .StoreStock .Block{
    display: flex;
  }

  .StoreStock .Block1{
    margin: 30px 0;
  }

 .MedList{
    background-color: rgb(255, 218, 149);
    width: 260px;
    margin: 10px 0;
    padding: 15px;
  }
  .statusStore{
    margin-left: 40px;
    font-size: large;
  }

  .StoreStock .InputBox{
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    border: none;
    box-sizing: content-box;
    box-shadow: 2px 2px 5px #848484, 0px 0px 0px #cacaca, 0px 0px 0px #cacaca;
  }

  .StoreStock .Box{
    margin-bottom: 15px;
    margin-right: 20px;
  }

  .StoreStock .btn2{
    margin-top: 30px;
  }

  .StoreMain{
    margin-top: 30px;
  }
  .StoreMain .remove{
    background: none;
    border: none;
    font-size: 30px;
    color: orange;
  }
  .StoreMain tr:first-child .remove{
    background: none;
    border: none;
    font-size: 30px;
    color: white;
  }
  .StoreMain th{
    padding: 5px 0;
  }
  .StoreMain td, .StoreMain th{
    width: 150px;
    border: 1px solid #dddddd;
    text-align: center;
  }
  
  .StoreMain tr:first-child{
    background-color: rgb(255, 210, 126);
  }
  .StoreMain tr{
    background-color: rgb(255, 255, 255);
  }
  .StoreMain .CheckBox{
    width: 20px;
    height: 20px;
  }











  .print-source {
    display: none;
  }
  
  body > .print-source {
    display: block;
  }
  
  @media print {
    .print-source {
      display: block;
    }
  }


  .page-size {
    width:21cm;
    height:29.7cm;
    padding-left:10px;
    background-color: bisque;
}

.line {
    background-color: darkblue;
    width:100%;
    height:20px;
}